# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Exclude generated PPM images
*.ppm

# Exclude compiled executables (no extension binaries)
*.out
*.exe
*.bin
*.elf
a.out

# Optional: ignore build directories
/build/
/bin/
/obj/
